nav {
  width: 100%;
  background-color: var(--color2);
  color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

nav .content-nav {
  display: flex;
  width: 1440px;
}

nav img {
  width: 60px;
  height: auto;
  object-fit: contain;
}