:root {
  --color1: #ececec;
  --color2: #2b2b2b;
  --color3: #8e8e8e;
  --color4: #b0b0b0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color4) var(--color1);
}

body {
  padding: 0;
  margin: 0;
  color: var(--color2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* temporary */
img {
  width: 10px;
  height: 10px;
}

/* banner */

#banner {
  width: 100%;
  margin: 0;
  padding: 0;
}

#banner {
  position: relative;
  /* background-image: url(/asset/welmab.JPG); */
  width: 100%;
  height: 700px;
  object-fit: cover;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/asset/welmab.JPG');
  background-position: center center;
  background-size: cover; 
  color: white;
}

#banner::after {
  content: "";
  background-color: var(--color3);
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#banner .quote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
}

/* about us */

#about-us {
  width: 100%;
  margin: 0;
  padding: 0;
}

#about-us {
  position: relative;
  /* background-image: url(/asset/welmab.JPG); */
  width: 100%;
  height: 600px;
  object-fit: cover;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/asset/lac.JPG');
  background-position: center center;
  background-size: cover; 
  color: white;
}

#about-us::after {
  content: "";
  background-color: var(--color3);
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#about-us p {
  max-width: 720px !important;
}

#about-us .quote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
}


/* card tagline */

#tagline {
  position: relative;
  transform: translateY(-30px);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#tagline h3 {
  margin-block-start: 0.75em;
  font-style: italic;
}

#tagline .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius:12px;
  width: 1200px;
  box-shadow: 0 2px 4px 0 #888888 ;
  padding: 10px 35px;
  background-color: var(--color1);
}

#tagline .content p{
  max-width: 1000px;
  line-height: 1.5;
  text-align: center;
}

#tagline .content li {
  max-width: 1000px;
  line-height: 1.5;
}

/* struktur organisasi */

#struktur-organisasi {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

#struktur-organisasi .lead-info h2 {
  font-size: 2.75em;
}

#struktur-organisasi .lead-info h3 {
  font-weight: 400;
}

#struktur-organisasi .divisi-info h2 {
  font-size: 2em;
}

#struktur-organisasi .divisi-info h3 {
  font-weight: 400;
}

#struktur-organisasi .content {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#struktur-organisasi .swap {
  flex-direction: row-reverse !important;
  text-align: right !important;
}

#struktur-organisasi .image-lead img {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  object-fit: cover;
}

#struktur-organisasi .image-divisi img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
}

#struktur-organisasi .divisi {
  display: flex;
  width: 90vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}